schemas/XML-2.0-Draft-nocodes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.ACORD.org/standards/PC/ACORD2/xml/"
            targetNamespace="http://www.ACORD.org/standards/PC/ACORD2/xml/"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified"
            version="2.0-Draft">
   <xsd:annotation>
      <xsd:documentation>This ACORD schema contains all code lists and enumerations.</xsd:documentation>
      <xsd:appinfo>
         <version>2.0-Draft</version>
         <status>Draft</status>
         <genDate>Thu Mar 03 12:28:22 2016</genDate>
      </xsd:appinfo>
   </xsd:annotation>
   <xsd:include schemaLocation="XML-2.0-Draft-basetypes.xsd"/>
   <xsd:simpleType name="ACORDStandardVersion">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AcquisitionMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Action">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ActivityNoteType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AdditionsExtensionsIncluded">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AddressType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AdjusterType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AdMedia">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AgeGroup">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AirBagStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AirBagType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AircraftEngineType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AircraftStorage">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AircraftType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AircraftUse">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AirportOccupancy">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AirportType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AlarmDescription">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AlarmType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AmountType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AmusementDevice">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AnchoringSystemUtilizes">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AnimalAccommodations">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AnimalType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AntiTheftProduct">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AppetiteType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ApplicantInterest">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ApplicantLiability">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ApprovalStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AttachmentStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AttachmentType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AuditMethodType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AuditRendered">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AuditReview">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AuditSource">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AuditTransactionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AuditType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="AutoAntiTheftDevice">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BathroomType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BillingAccountStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BillingActivity">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BillingMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BinderPurpose">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BondTerms">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BondType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BordereauPolicyStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BordereauPremiumType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Breed">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Broadcast">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BroadcastOperation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BroadLineBusiness">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingEffectivenessGradeType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingExposure">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingOverWater">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingPurpose">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingSystem">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingUse">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BulletResistingEnclosureType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessAcquired">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessIncomeTypeOfBusiness">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessOwnerStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CancelEvidenceObtained">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CancellationReason">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CancellationType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CarrierType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CertificationType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CertifyingEntity">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ChangeStatusSource">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ChaptersHandled">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ChargeType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Chimney">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ClaimHistoryReportStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ClaimNotice">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ClaimsPartyLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ClaimsPartyRole">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ClaimStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ClassSpecificRatedIndicator">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ClearanceFrom">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ClearanceTo">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ClienteleAge">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CodeListOwner">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ColumnDataCategory">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ColumnDataType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CommlIMClass">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CommlIMSubClass">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Commodity">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CommunicationExposure">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CommunicationUse">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CommunityProgramType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CompletedBy">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ComponentType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ConstructionClass">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ConstructionReason">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ConstructionStyle">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ConstructionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ContentsLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ContentType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ContinuousInsurance">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Conveyance">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CopyrightOwner">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CoverageCategory">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CoverageOption">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Coverages">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CoverageType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CoverageVerification">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CrimeScheduleType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="CycleBusinessPurpose">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Days">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DeckMaterialType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DeductibleApplies">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DeductibleType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DefensiveDriverIndicator">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Delimiter">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DepositType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DesignType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DetachedStructureType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DirectionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DisasterAssistance">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DistanceType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DocumentCopyType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DoorChestType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DoorLockType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DoorType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DriverRelatesTo">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DriverUse">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DrivingRecord">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DwellingStyle">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DwellingUse">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EarthquakeBuildingGround">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EarthquakeRetrofit">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EducationLevel">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ElectedAppointed">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ElectricalPanel">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ElectricalProtection">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ElectronicDocsSelection">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ElectronicDocumentType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ElevationBasis">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ElevationDatum">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmployeeBenefitPlanType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmployeeCountry">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmployeeInterest">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmployeeScheduleType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmployeeStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmployeeSubjectTo">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmployeeType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Employer">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmploymentStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EnclosureStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EnclosureUsage">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EncodingType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EncryptionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EngineType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EquipmentSize">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="EquipmentType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Event">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ExchangeTraded">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Exposures">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ExtendedStatusText">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FarmedBy">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FarmRanchType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FilingType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FinancialResponsibilityFilings">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FinancialResponsibilityFilingStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FinancialResponsibilityPurpose">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FinancialResponsibilityType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FinancialType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FireExtinguishingSystemType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FireplaceType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FloodEquipmentStorageLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FloodRating">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FloodSource">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FormsRequested">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FormType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Foundation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FrameworkStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Frequency">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FuelLineLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FuelTank">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="FuelType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="GarageType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Garaging">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Gender">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="GeneralShape">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="GlassType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="GoodStudentIndicator">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HeatingAndCooling">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HeatingUnit">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HeatSource">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HomeownersRatingCredit">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HorizCoordRefSystem">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HorseOperations">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HousekeepingCondition">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HrsType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HullDesignType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HullMaterialType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HydrantType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="HYPPStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="IdentifierType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Improvement">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="IncludedExcludedIndicator">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="IncludedParties">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="IndemnityType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Indoor">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InformationSource">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InitialTreatment">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InquiryTerms">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InquiryType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InsideOutside">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InspectionReportSource">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InspectionStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InspectionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Inspector">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Installation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InsulationType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InsuranceType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InsuredPrincipalRoleType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Interest">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InteriorBuiltIns">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InteriorComponent">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InventoryAccountingMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InventoryType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ItemDefinitionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ItemLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="JobBasis">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="JobType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LandUse">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LastVisited">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LayUpType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LegalAddress">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LegalEntity">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LiabilityCargoAuthorityType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LiabilityClaimBasis">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LiabilityLossControlEvent">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LicenseStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LicenseSubCode">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LicenseType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LimitApplies">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LineOfBusiness">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LineOfBusinessSubCode">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Lining">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LitigationStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LocationRelationshipType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LocationType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LogType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LossEnteredBy">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LossKind">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LossLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LossSource">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LossSummaryType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ManufactureMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MaritalStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MaterialType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MedicalClass">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MedicareAuthority">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MedicareStatusOutcome">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Membership">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MessageError">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MessageStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MethodOfPayment">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MinMax">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MobileHomeFoundation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="MobileHomeInstallationStandard">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="NatureOfBusiness">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="NatureOperations">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="NonOwnedAutoCategory">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="NonTaxIdType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="NumberOfStories">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Obstruction">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Occupancy">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OccupancyType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OccupationClass">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OccurredPremises">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OnPremisesLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OperationsType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Operator">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OperatorExperienceRestriction">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OptionBenefit">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OptionDesc">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OrganizationIdentifier">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OtherDriverType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OtherPolicyType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="OutsideAuthorityCondition">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Ownership">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Packing">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PaintType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PassengerType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PayDetermination">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PayKind">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PaymentType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Payor">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PCILevelCode">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PerformedFor">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PilotProfPhase">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PilotRating">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PilotTrainingFacility">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PilotType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PipeVentStyle">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Placement">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PlayingSurface">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PlumbingType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PolicyStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PolicyType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PoolConstruction">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PorchBreezewayType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PremiumAccountingType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PremiumBase">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PremiumCalculationMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PremiumCategory">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PremiumType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PreviousWCCoverageSource">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProducerRole">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProductType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PropertyLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PropulsionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProtectionDevice">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProtectionExtent">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProtectiveMaterial">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RaceType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RadiusUseType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RateScaleType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RatingType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RealEstateType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReasonForTransfer">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReasonLiabilityRefused">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReasonTerminated">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReasonUnconfirmed">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReasonVacant">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReferralType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RefName">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RegistrationType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReinstatementReason">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReinstatementType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RenewalMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RenewalStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReplacementCostEvaluationMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReplacementCostEvaluationSystem">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReportingTransactionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RequestorType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReserveFundingStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReservePositionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ReservesStatusInFinancialStatements">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ResidenceType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ResidualMarketFacilityTier">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Response">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ResponseIndicator">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Responsibility">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Risk">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RiskClassification">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RiskQualifier">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RoleType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RoofCoverAttachment">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RoofDeckAttachment">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RoofDeckMaterial">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RoofGeometryType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RoofMaterialType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RoofWallAttachment">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RunwayConstruction">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="RuralFireProtectionDistrict">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SafeDoorType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SafeLabel">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SalesReceiptAppraisals">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SaveStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ScheduleType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SeacoastOrOtherBodyOfWaterProximity">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SearchCriteria">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Season">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SeatBeltType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SeenBy">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SelfInsuredRetentionType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SettlementType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SharesType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ShipmentType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ShipperType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ShippingInterest">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ShorelineDistance">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ShortTermPremiumMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SidingType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SignatureFormType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SignConstructionMaterial">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SignedBy">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SignonRole">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SoftwareType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SparMaterial">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SpecialProgram">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SpecialtyRooms">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SpecificTest">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SportType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="StoredEquipment">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="StormShutterType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="StovePipe">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="StoveType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="StreamType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="StructureCondition">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="StructureType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SubRisk">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SubRoleType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SubstructureType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SupplementaryNameType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SuretyTermsType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Surveillance">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TaxFeeSurcharge">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TaxFeeType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TaxFilingStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TaxIdType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TaxType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TelematicsDeviceRole">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TelematicsDeviceStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TelematicsDeviceType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TelematicsEventType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TelematicsScoreBasis">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TelematicsScoreType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TestingType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TestType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ThimbleThrough">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TieDown">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TieDownAnchor">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TieDownStraps">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TitleRelationship">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TonRatingCapacity">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Treatment">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="TreatmentAdministrationMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="UnderlyingGeneralLiability">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="UnderwritingDecision">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="UnitLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="UnoccupiedType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Use">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VacantOccupiedIndicator">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ValuationMethod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ValuationType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ValueAppliesTo">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="ValueType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehAntiTheftEngravingDevMfr">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehCoverageResponse">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehElevAirType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehEquipmentType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehicleBodyType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehicleDamageability">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehicleInspectionStatus">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehicleLeased">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehiclePerformance">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehicleSpecialUse">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehicleType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehicleUse">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehInspectionDamage">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehInspectionExemption">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VehMaterialType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VentLocation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="VerificationReason">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WaitingPeriod">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WallType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WatchPersonFactorCredit">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WaterQuantity">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WatersNavigated">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WaterSource">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WaterUnitType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WCClaimType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WindClass">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WindowBars">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WindstormMitigation">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WiringType">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WorkContracted">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WorkingUtilities">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WorkPerformed">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="WrittenPayable">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="YearIdentifier">
      <xsd:restriction base="Enumeration_Type"/>
   </xsd:simpleType>
</xsd:schema>
